default_language_version:
  python: python3.10
exclude: (^docs)
fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args: [--strict]
        additional_dependencies:
          - aiohttp<4
          - pytest
          - pyzmq
          - requests<3
          - types-requests<3
          - types-setuptools
          - websockets

  - repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
      - id: black
        args: [--check]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        args: [--check,--profile,black]
        types: [python]
